.Login__close {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);  
}

.Login__container {
    position: fixed;
    z-index: 110;
    background-color: white;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px black;
    padding: 16px;
    left: 35%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}


.Login_form > form {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding: 30px 0px;  
}

.Login_form > form > input {
    width: 80%;
    height: 30px;
    outline: none;
    border: 1px solid #762A14;
    border-radius: 4px;
    padding: 2px 10px;
    color: #762A14;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Login_form > form > button {
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    background: #762A14;
    border-radius: 4px;
    padding: 2px 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 2px auto; 
    cursor: pointer;
}

.login-signup {
    margin-top: 10px;
}

.login-signup > p {
    float: right;
    margin-right: 10%;
    color: #762A14;
    font-size: 15px;
    font-weight: 600;
}

.login-signup > p > button {
    outline: none;
    border: none;
    background: none;
    color: #ffffff;
    color: #762A14;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}




@media (min-width: 600px) {
    .Login__container {
        width: 400px;
        left: calc(50% - 200px);
    }
}
@media (max-width: 600px) {
    .Login__container {
        width: 100%;
        max-width: 400px;
        left: calc(50% - 200px);
    }
}